<div class="container d-flex justify-content-center flex-column align-items-center" style="min-height: 100vh;">
    <h1 class="text-center fw-bolder">
        Product Details
    </h1>
    <app-add-button (newProduct)="newProductDetails($event)"></app-add-button>
    <div class="card shadow p-3 w-100">
        <div class="d-flex justify-content-center align-items-center">
            <app-sort [products]="products"></app-sort>
            <app-search (dataSent)="receiveData($event)"></app-search>
        </div>
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>...</th>
                </tr>
            </ng-template>

            <ng-template #body let-product let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{ product.name }}</td>
                    <td><img [src]="product.image" alt="" width="100px" class="rounded"></td>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td class="d-flex">
                        <app-edit-product [productDetails]="product"
                            (UpdatedProduct)="editProductDetails($event)"></app-edit-product>
                        <button (click)="deleteProduct(product.id)" class="btn btn-danger ms-2 mt-3 p-2" style="height: 40px;">Delete</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>